---
layout: default
title: Blog
cover: true
cover_title: Blog posts
cover_description: Things I think about
cover_image: '../assets/images/chopinpolo.jpg'
cover_height: 30vh
navigation_weight: 3
---
	<ul>
          {% assign post_count = 0 %}
          {% for post in site.posts %}
            {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
        {% if post_count == 0 %}
           <p>Nothing yet.</p>
        {% endif %}
